table {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.english-grammar-table {
    padding: 6px;
    border-collapse: collapse;
    border: 1px solid black;
}
.english-grammar-table th {
    padding: 10px;
    border: 1px solid black;   
}
.english-grammar-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
.text-bold {   
    font-weight: bold;
}